/* Layout css */

*, ::before, ::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

.layout {
    height: 100%;
    width: auto;
}

.layout > div:first-child {
    border-right: 1px solid #cccccc;
    border-color: gray;
}

/*Signin Form Css*/

.form-signin {
    max-width: 25rem !important;
    height: 80vh;
}

.bg-img {
    height: 60vh;
    width: 60vh;
    background: url('../assets/img/1.png') no-repeat center;
    background-size: contain;
}

/*Signup Form Css*/

.form-signup .bg-img {
    content: '';
    display: block;
    height: 60vh;
    width: 60vh;
    background: url('../assets/img/1.png') no-repeat center;
    background-size: contain;
    position: absolute;
    bottom: 0;
    right: 3.2em;
}

.form-signup {

    width: 75vh;
    height: 75vh;
}

/*General Forms Css*/

.form {
    position: relative;
    height: 60px;
    margin-top: 2rem;
    overflow: hidden;
    background: transparent;
}

.form input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
}

.form label {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #cccccc;
}

.form label::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -1px;
    left: 0;
    border-bottom: 2px solid orange;
    transform: translateX(-100%);
}

.content-name {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
}

.form input[type^="date"]:empty {
    color: transparent;
}

.form input[type^="date"]:valid {
    color: black;
}

input[type^="file"] {
    display: inline-block;
    outline: none;
    background: transparent;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    width: 100%;
    padding: 120px 0 0 0;
    height: 100px;
    overflow: hidden;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
    transform: translateY(-150%);
    position: absolute;
    font-size: 0.8em;
    color: orange;
    background: transparent;
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
    transform: translateX(0%);
    transition: all 0.2s;
}

.form input:focus {
    background: transparent;
}

a:hover {
    color: #28a745;
    transition: ease-in-out 0.8s;
}

i .fas {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: orange !important;
}

i > .fas:hover {
    color: #28a745;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    text-decoration: none;
    transition: ease-in-out 0.8s;
}


.upload-btn {
    border: 1px dashed #adb5bd;
    width: calc(100%);
    height: 250px;
    background-size: contain;
    background: center no-repeat;
}

.upload-btn .content-name {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

textarea {
    border-radius: 0 !important;
}

.object-fit {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

#map {
    width: 100%;
    height: 100%;
    background-color: honeydew;
}
select{
    z-index: 1000;
    background: blue;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: #0000003d;
}

a:hover{
    color: #2fa360;
}


